@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 30px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}
.listItem{
  border-right: 5px solid;
  border-left: 8px solid;
  transition-property: all;
  transition-duration: 0.25s;
}
.listItem.greenb{
  border-right-color: #2ecc71;
  border-left-color: #2ecc71;
}
.listItem.redb{
  border-right-color: #f7250e;
  border-left-color: #f7250e;
}
.listItem.greenb:hover {
  border-right: 15px solid #2ecc71;
  border-left: 1px solid #2ecc71;
} 
.listItem.redb:hover {
  border-right: 15px solid #f7250e;
  border-left: 1px solid #f7250e;
} 
.delete-btn{
  opacity: 0;
  transition-property: all;
  transition-duration: 0.1s;
}
.delete-btn:hover{
transform: scale(1.2,1.2);
}
.listItem:hover .delete-btn {
  opacity: 1;
}
#shadowDiv{
  transition-property: all;
  transition-duration: 0.25s;
  border-radius: 41px;
  border: 5px solid greenyellow;
}

@media (min-width:576px){
#shadowDiv:hover{
  -webkit-box-shadow: 10px 10px 68px 5px rgba(0,111,255,0.40);
-moz-box-shadow: 10px 10px 68px 5px rgba(0,111,255,0.40);
box-shadow: 10px 10px 68px 5px rgba(0,111,255,0.40);
  transform:translate(0px,-6px)
}
}